body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
  background-color: #0f172a;
  /*background-color: #000;*/
  color: #e5e7eb;
  width: 300px;
}

.container {
  padding: 12px;
  text-align: center;
}
.header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

.logo {
  width: 150px;
  height: 150px;
}

.title {
  font-size: 20px;
  margin-bottom: 18px;
  color: #FFD700;
}

input {
  width: 92%;
  padding: 7px;
  border-radius: 6px;
  border: none;
  outline: none;
  margin-bottom: 8px;
  font-size: 13px;
}

button {
  width: 100%;
  padding: 7px;
  border-radius: 6px;
  border: none;
  background-color: #FFD700;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #FFD700;
}

#result {
  margin-top: 10px;
  font-size: 13px;
  text-align: left;
}

.movie-title {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 4px;
}

.movie-poster {
  width: 100%;
  border-radius: 6px;
  margin: 8px 0;
}

.label {
  color: #94a3b8;
}


/* ratings */

#rating-panel
{
    display: inline;
}

.rating {
    display: inline;
    font-size: 26px;
    font-weight: bold;
    margin: 6px 0;
}

.rating.red {
  color: #ef4444; /* red */
}

.rating.yellow {
  color: #facc15; /* yellow */
}

.rating.green {
  color: #22c55e; /* green */
}

.rating-label {
  font-size: 12px;
  color: #94a3b8;
}

.imdb-link {
  display: inline-block;
  color: #FFD700;
  font-size: 13px;
  text-align: center;
}
